body{
    background-color: azure;
  
}
h1 ,p{
  
    align-items: center;
}
.container{
    margin: 100px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgb(160, 216, 229);
}


table{
    width:100%;
   
   /*  width: calc(100% / 7); */
    padding:20px;
    margin: 50px;
    border:1px soled black;
    



}

th,td{
    width:14,28%;
    text-align: center;
    border:1px solid burlywood;
    
}
.container tr{
    display: flex;
    
    flex-wrap: wrap; 
    text-align: center;
}
.container tr th{
    width: calc(100% / 8);
}
 th.active{
    background: #ad425f;
}